.navbar {
    padding: 0.5rem;
    z-index: 2;
    .dropdown-menu {
        width: 300px;
        max-height: 325px;
        overflow: auto;

        &>div:last-child {
            hr {
                display: none;
            }
        }

        &>div:hover {
            background-color: $hover;
        }
    }

    .bg-circle-notification {
        background-color: $activated-subtle;
        min-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sign-out-menu {
        background-color: $base;
        width: 100%;
    }
}

.bg-circle-notification {
    background-color: $activated-subtle;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-circle-notification {
    position: absolute;
    top: 4px;
    right: 14px;
}

.position-circle-message {
    position: absolute;
    top: 4px;
    right: 10px;
}