.profile-container {
    padding: 1rem;
    background-color: $white;
    border-radius: 1rem;

    .cover-img {
        width: 100%;
        height: 200px;
    }
}
.main-box{display: flex;
flex-direction: column;
height: calc(100vh - 150px);}
.w-s{white-space: nowrap;}
.profile-sidebar-wraper {
    position: fixed;
    padding-top: 70px;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
    z-index: 1;

    .profile-container {
        border-radius: 0;
        width: 430px;
        height: 100%;
    }
}