.profile-container {
    padding: 1rem;
    background-color: $white;
    border-radius: 1rem;
    border: 1px solid $border-color;

    .cover-img {
        width: 100%;
        height: 200px;
    }
}

.bg-box {
    background: $lightgraybg001 !important;
    border: none !important;
    box-shadow: none !important;
}

.CounterTXT {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $black;
}

.empty-container {
    border: 2px dashed $light;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-box {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
}

.w-s {
    white-space: nowrap;
}

.profile-sidebar-wraper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    // overflow: hidden;
    //   overflow-y: hidden;
    z-index: 1;
    // overflow-y: scroll;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0;
    width: 30%;
    padding: 85px 0;

    .profile-container {
        border-radius: 0;
        width: 430px;

    }

    .profile-sidebar-scroll {
        max-height: calc(100vh - 130px);
        overflow-y: auto;
        padding: 0 1rem;
    }
}