.sidebar {
    width: 280px;
    min-width: 280px;
    height: 100vh;
    background-color: $dark;
    overflow: auto;

    @media (max-width: 991.98px) {
        width: 100%;
    }

    .nav-link {
        color: $light;
        padding: 1rem;
        font-size: 14px;

        &.active {
            background-color: $active;
            color: $white;
        }
    }

    .navbar-brand {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
}