.sidebar {
    width: 80px;
    min-width: 80px;
    height: 100vh;
    background-color: $white;
    overflow: auto;

    @media (max-width: 991.98px) {
        width: 100%;
    }

    .nav-link {
        color: $dark;
        padding: 1rem;
        font-size: 12px;
        text-align: center;

        &.active {
            background-color: $active-bg;
            color: $dark;
        }
        i{
            font-size: 18px;
        }
    }

    .navbar-brand {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
}