.sidebar {
    width: 280px;
    min-width: 280px;
    height: 100vh;
    background-color: $dark;

    .nav-link {
        color: $light;
        padding: 1rem;
        font-size: 1rem;

        &.active {
            background-color: $active;
            color: $white;
        }
    }

    .navbar-brand {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
}