.Company-Logo {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px auto;

}


.pricingbox {
     width: 100%;
     margin: 0 auto;
     background: #e3f7e4;
     padding: 50px 0;
   }
    
   .text-success {
     --bs-text-opacity: 1 !important;
     color: rgb(27, 176, 157) !important;
   }