@import "./variables.scss";
@import "./bootstrap-custom-theme.scss";
@import "./fonts.scss";
@import "./icons.scss";
@import "./sidebar.scss";
@import "./header.scss";
@import "./dashboard.scss";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

body {
    // font-family: 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: $base;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $dark;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
    }

    div {
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $dark;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }
    }

    .main-content {
        height: calc(100vh - 72px);
        overflow: auto;
        padding: 0.5rem
    }

    .cursor {
        cursor: pointer;
    }

    .user-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .creator-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .margin-overlap {
        margin-right: -5px;
    }

    .hero-circle {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }

    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }

    .number-circle {
        height: 25px;
        width: 25px;
        min-width: 25px;
        border-radius: 50%;
        background-color: $success;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}