@import "./variables.scss";
@import "./bootstrap-custom-theme.scss";
@import "./fonts.scss";
@import "./icons.scss";
@import "./sidebar.scss";
@import "./header.scss";
@import "./dashboard.scss";
@import "./charts.scss";
@import "./createoffcanvas.scss";
@import "./login.scss";
@import "./loader.css";
@import "./chatbot.scss";
@import "./profile.scss";

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}




::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

body {
    // font-family: 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: $base;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $dark;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }

    a {
        color: $info;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
    }

    div {
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $dark;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }
    }

    .main-content {
        height: calc(100vh - 72px);
        overflow: auto;
        padding: 0.5rem;
        position: relative;
    }

    .cursor {
        cursor: pointer;
    }

    .user-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .creator-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .margin-overlap {
        margin-right: -5px;
    }

    .hero-circle {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }

    .line-clamp-1 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }

    .line-break {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 245px;
        // width: auto;
    }

    .line-break-650 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        max-width: 650px;
        // width: auto;
    }

    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }
    .line-clamp-4 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }
    .line-clamp-5 {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }
    .line-clamp-6 {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: auto;
    }

.welcom-card-height{min-height: 220px; max-height: 220px;}

.truncate {
    width: 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


    .number-circle {
        height: 20px;
        width: 20px;
        min-width: 20px;
        border-radius: 50%;
        background-color: $circle3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }

    .charts-select {
        width: 200px;
    }

    .p-height {
        min-height: 40px;
    }

    .bg-campaigns {
        background-color: $base;
        padding: 1rem;
        border-radius: 8px;
    }

    .oveflow-wrapper {
        width: calc(100vw - 115px);
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .applied-btn-container {

        .btn:disabled,
        .btn.disabled,
        fieldset:disabled .btn {
            color: var(--bs-btn-disabled-color);
            pointer-events: none;
            background-color: $dark;
            border-color: $dark;
            opacity: 1;
        }
    }

    .card-body .notification-list:last-child {
        hr {
            display: none;
        }
    }
}

.size-btn{padding: 0;margin: 0;}


.cursor-pointer {
    cursor: pointer;
}

.hover-bg-light:hover {
    background-color: #f8f9fa;
}

.min-height-auto {
    min-height: 38px;
}

.z-3 {
    z-index: 3;
}


