$primary: #15ab63;
$secondary: #0A66C2;
$light: #d3d3d3;
// $info: #5ea009;  
$info: #49a9de;
$warning: #969696;
$black: #000000;
$dark: #222e3c;
$white: #ffffff;
$base: #f5f7fb;


$active: #25364c;
@import "bootstrap/scss/bootstrap";