$primary: #1bb09d;
$light: #d3d3d3;
$info: #0761a2;
$warning: #969696;
$dark: #222e3c;
$success: #e9e9e9;
$orange: #f8ba06;
$gray: #808080;
$black: #000000;
$white: #ffffff;
$base: #f4f2ee;
$bg-card-light: #f1f3f5;
$hover: #f9fafb;
$active: #25364c;
$border: #dfdeda;
$active-bg: #7fc1f031;
$yellow: #f8ba06;

$discussion: #7189fc;
$contacted: #74c627;
$activated: #b2a7f1;
$to-contact: #e55f98;

$activated-subtle: #f0f5ff;
$discussion-subtle: #e6f4fe;
$contacted-subtle: #f5fced;
$to-contact-subtle: #fbf0f5;
$not-fit-subtle: #fcf1f0;

$form: #f3f4f6;

$info-subtle-active: #cddfec;

$circle1: #ffd84d; // Brighter yellow/orange
$circle2: #2196f3; // Brighter blue
$circle3: #2ecc71; // Brighter green
$circle4: #0761a2; // Brighter blue

/*new variables*/
$border-color: #dfdeda;
$lightgraybg001: #f4f4f4;
@import "bootstrap/scss/bootstrap";
