$primary: #15ab63;
$light: #d3d3d3;
$info: #0761a2;
$warning: #969696;
$dark: #222e3c;
$success: #e9e9e9;
$orange: #f8ba06;
$gray: #808080;
$black: #000000;
$white: #ffffff;
$base: #f8fafd;

$hover: #f1f1f1;
$active: #25364c;
$border: #efefef;
$active-bg: #7fc1f031;

$discussion: #7189FC;
$contacted: #74C627;
$activated: #B2A7F1;
$to-contact: #E55F98;

$activated-subtle: #F0F5FF;
$discussion-subtle: #E6F4FE;
$contacted-subtle: #F5FCED;
$to-contact-subtle: #FBF0F5;
$not-fit-subtle: #FCF1F0;


$info-subtle-active: #cddfec;

$circle1: #ffd84d; // Brighter yellow/orange
$circle2: #2196f3; // Brighter blue
$circle3: #2ecc71; // Brighter green
$circle4: #0761a2; // Brighter blue     


@import "bootstrap/scss/bootstrap";